<div class="card">
  <div class="card-header">
    Меню
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to "Профиль", page_profile_path %>
    </li>
    <li class="list-group-item">
      <%= link_to "Курсы", page_profile_courses_path %>
    </li>
    <li class="list-group-item">
      <%= link_to "События", page_calendar_path %>
    </li>
    <li class="list-group-item">
      <%= link_to "Выйти", root_path %>
    </li>
  </ul>
</div>