<div class="container py-4">
  <h1>Профиль</h1>
  <div class="row">
    <div class="col col-md-3">
    <%= render 'pages/card' %>
    </div>
    <div class="col">
      <h2>Жаншуаков Айрат Кайратович</h2>
      <img src="https://www.fillmurray.com/120/120" class="img-thumbnail" alt="...">
      <p>
        Не следует, однако забывать, что дальнейшее развитие различных форм деятельности позволяет оценить значение
        позиций, занимаемых участниками в отношении поставленных задач. Таким образом реализация намеченных плановых
        заданий позволяет оценить значение дальнейших направлений развития. Значимость этих проблем настолько очевидна,
        что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании
        существенных финансовых и административных условий.
      </p>
    </div>
  </div>
</div>