<div class="container py-4">
  <h1>Курсы</h1>
  <div class="row">
    <div class="col col-md-3">
      <%= render 'pages/card' %>
    </div>
    <div class="col">
      <h2>Ваши курсы</h2>
      <div class="d-flex justify-content-between mb-2">
        <span>Базы данных</span><span>В прогрессе</span>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <span>Платформа .NET</span><span>82 балла</span>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <span>Веб дизайн</span><span>40 баллов</span>
      </div>
    </div>
  </div>
</div>