<section class="container py-4">
  <h1>Редакатировать урок</h1>

  <%= render 'form', lesson: @lesson %>

  <div class="flex">
    <%#= link_to 'Сохранить', @lesson, class: 'btn btn-primary' %>
    <%= link_to 'Назад', lessons_path, class: 'btn btn-link' %>
  </div>
</section>