<section class="container">
  <h1>Редактировать курс</h1>

  <%= render 'form', course: @course %>

  <div class="flex">
    <%= link_to 'Показать', @course, class: "btn btn-link" %> |
    <%= link_to 'Назад', courses_path, class: "btn btn-link" %>
  </div>
</section>