<div class="container">
  <div class="row align-items-center">
    <div class="col">
      Copyright 2021
    </div>
    <div class="col text-end">
      <a href="https://github.com/codev0/rails-lms" class="display-6">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>
</div>